@import "tailwindcss";

:root {
  --background: #FFF0DC; /* fundo geral*/
  --foreground: #F0BB78; /*Texto geral*/

  --section-background: #131010;
  --section-foreground: #FFF0DC;
    --font-lato: 'Lato';
   --font-merriweather: 'Merriweather',
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lora-serif);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F0BB78;
    --foreground: #FFF0DC;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:var(--font-lato), serif;
}


