.navbar {
  background-color: #D5CEA3;
  padding: 1rem;
  color: #1A120B;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: #1A120B;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 1rem; /* Espaçamento entre os links */
  padding: 0;
  margin: 0;
}

.navLinks li a {
  color: #1A120B;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navLinks li a:hover {
  color: #ddd;
}