.navbar {
  background-color: #FFF0DC;
  padding: 1rem;
  color: #FFF0DC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 50%;
}

.logo a {
  color: #000;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 2rem; /* Espaçamento entre os links */
  padding: 0;
  margin: 0;

}

.navLinks li a {
  margin-right: 1.5rem;
  color: #131010;
  padding:8px;
  text-decoration: none;
  transition: color 0.2s ease;
}

.navLinks li a:hover {
  color: #FFF0DC;
    background-color: #1A120B;
    border-radius: 10%;
}